//  Header

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: $l-grey;

  > .wrap {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: relative;

    .left-align {
      display: grid;
      grid: auto / auto auto auto;
      align-items: center;
      grid-gap: 24px;

      .menu {
        border: none;
        background: none;
        padding: 0;
        width: 22px;

        .fa-bars,
        .fa-times {
          font-size: 26px;
          color: $l-main;
          transition: all 0.3s ease;

          &:hover {
            color: $main;
          }
        }
      }

      .search {
        margin-left: 24px;

        input {
          height: 34px;
          width: 250px;
          padding: 0 10px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          font-size: 16px;

          &::placeholder {
            color: #aaa;
            font-size: 15px;
          }
        }

        .btn-cta {
          height: 34px;
          line-height: 34px;
          vertical-align: bottom;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    a {
      &.logo {
        font-size: 32px;
        font-weight: 900;
        color: #232323;
      }

      &.cart {
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        font-size: 1.8em;

        .circle {
          border-radius: 50%;
          height: 17px;
          width: 17px;
          position: absolute;
          top: -3px;
          right: -7px;
          background-color: #ab5595;
          color: #fff;
          font-weight: 300;
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &:hover {
        color: #000;
      }
    }

    .dropdown-overflow {
      position: absolute;
      top: 71px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      height: 100vh;
      pointer-events: none;
      transition: all .1s ease-out;

      &.active {
        background-color: rgba(0, 0, 0, 0.15);
        pointer-events: auto;
      }
    }

    .dropdown {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #f6f6f6;
      height: 0;
      width: 100%;
      transition: all .1s ease-out;
      opacity: 0;
      pointer-events: none;

      .wrap {
        padding: 24px 0;

        .filters {
          display: grid;
          grid: auto / repeat(3, 1fr);
          grid-gap: 40px;
          margin-bottom: 12px;

          select {
            width: 100%;
            height: 28px;
            font-size: 14px;
            border: 1px solid #ccc;
            color: #aaa;
            padding-left: 10px;
            margin-bottom: 12px;


            &.active {
              color: #333;
              border-color: #bbb;
            }

            option {
              color: #333;
            }
          }

          input[type='text'] {
            height: 28px;
            padding: 0 10px;
            width: 100%;
            margin-bottom: 12px;


            &::placeholder {
              color: #aaa;
              font-size: 14px;
            }
          }

          .ebc {
            font-size: 14px;
            color: #333;
            margin-top: 5px;

            label {
              padding-right: 5px;
            }
          }
        }
      }

      .btn-cta {
        margin-right: 20px;
        padding: 0 40px;
      }

      &.active {
        border-bottom: 1px solid #ccc;
        height: 209px;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

// Footer

footer {
  background-color: #eee;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
}

// Normalize

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 95px;
  // font-family: 'Montserrat', sans-serif;
  //  font-family: 'Raleway', sans-serif;
  // font-family: 'Oswald', sans-serif !important;
  // font-family: 'Playfair Display', serif;
  // font-family: 'Muli', sans-serif;
  // font-family: 'Lato', sans-serif;
  font-family: 'Roboto Slab', serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}


html {
  height: 100%;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

// Typographic

p, {
  margin: 12px 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 16px;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

h5 {
  font-size: 1em;
}

a {
  font-weight: 700;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease-out;
}

input, select {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;

}

button {
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}

.btn-icon {
  position: relative;

  .focus {
    background-color: $d-grey;
    border-radius: 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    width: 2px;

    transform: scale(0);
    transition: all .1s ease;
    z-index: -1;

  }

  &:focus {
    outline: none;

    .focus {
      // transform: scale(1.7);
      animation: focus 3s ease;
    }
  }
}

// Animations
@keyframes focus {
  0% {
    transform: scale(0);
  }

  5% {
    transform: scale(22);
  }

  99% {
    transform: scale(22);
  }

  100% {
    transform: scale(0);
  }
}

// Accesibility

//  button:focus {
//    outline: 2px solid $accent;
//  }


// Helpers
.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}
